.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/keys/*
docker-compose*.yml
.env
.env.local
*.md
scripts/
docs/
.vscode/
.idea/
